# Dependencies
node_modules/

# Build
dist/
*.local

# IDE / OS
.DS_Store
*.log
.env
.env.*

# Playwright
test-results/
playwright-report/
playwright/.cache/

# ESLint
.eslintcache

*storybook.log
storybook-static
